name: Build and test

on:
  push:
    branches:
      - renovate/**
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.node-version'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm pkg delete scripts.prepare
          npm ci

      - name: Build
        run: npm run build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.node-version'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm pkg delete scripts.prepare
          npm ci

      - name: Test
        run: npm test
